.calculator {
    display: flex;
    justify-content: center;
    background-color: $grayBlue;
}

.calc-wrapper {
    max-width: 500px;
    width: 100%;
}

.calc-header {
    color: white;
    font-weight: bold;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.display {
    margin-bottom: 10px;

    input {
        padding: 10px 20px;
        text-align: right;
        background-color: $darkBlue;
        border: none;
        border-radius: 6px;
        color: white;
        width: 100%;
    }
}

.functions {
    background-color: $mediumBlue;
    border-radius: 6px;
    padding: 20px;
    font-size: 1.25rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.bottom {
    display: flex;

    button {
        width: 50%;
    }
}

.equal {
    background-color: $alert;
    color: white;
}

.option {
    background-color: $lightBlue;
    color: white;
}