.calculator {
    display: flex;
    justify-content: center;
    background-color: $mainBackground;
}

.calc-wrapper {
    max-width: 500px;
    width: 100%;
}

.calc-header {
    color: white;
    font-weight: bold;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    h1 {
        flex: 1;
    }
}

.display {
    margin-bottom: 25px;

    input {
        padding: 30px 25px;
        text-align: right;
        background-color: $screenBackground;
        border: none;
        border-radius: 6px;
        color: $white;
        width: 100%;
    }
}

.theme-wrapper {
    text-transform: uppercase;
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.theme-header {
    margin-right: 10px;
}

.theme-picker {

    label {
        font-size: 0.75rem;
        margin-right: 8px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.theme-labels {
    position: absolute;
    top: -20px;
    right: 10px;
}

.keypad {
    background-color: $toggleKeypadBackground;
    border-radius: 6px;
    padding: 25px;
    font-size: 1.25rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 25px;
    row-gap: 25px;
}

.bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 25px;
    margin-top: 25px;
}

.equal {
    background-color: $keyShadow2;
    color: white;
    background-color: $keyToggle;
    @include key-shadow($keyShadow2);
}

.option {
    background-color: $keyBackground;
    color: white;
    text-transform: uppercase;
    @include key-shadow($keyShadow);
}

.theme-selectors {
    display: flex;
    justify-content: center;
    border: 5px solid $toggleKeypadBackground;
    border-radius: 50px;
    background-color: $toggleKeypadBackground;

    input {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: $keyToggle;
        opacity: 0;
        appearance: none;

        &:checked {
            opacity: 1;
        }

        &:hover {
            cursor: pointer;
        }
    }
}