* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

html,
body {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $mainBackground;
    padding: 0 20px;
    font-size: 2rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1rem;
    margin: 0;
}

footer {
    padding: 15px 0;
}

button {
    color: $keyBackground;
    background-color: $keyBackground2;
    width: 100%;
    padding: 15px;
    border-radius: 6px;
    border: none;
    font-size: 2rem;
    @include key-shadow($keyShadow3);

    &:hover {
        cursor: pointer;
    }
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}