// Main
$textFont: 2rem;

/*************
* THEME 1    *
**************/

// Backgrounds
$mainBackground: #3a4764;
$toggleKeypadBackground: #232c43;
$screenBackground: #182034;

// Keys
$keyBackground: #637097;
$keyShadow: #404e72;
$keyToggle: #d03f2f;
$keyShadow2: #93261a;
$keyBackground2: #eae3dc;
$keyShadow3: #b4a597;

// Text
$keyText: #444b5a;
$white: #fff;

/*************
* THEME 2    *
**************/

// Backgrounds
$theme2MainBackground: #e6e6e6;
$theme2ToggleKeypadBackground: #d1cccc;
$theme2ScreenBackground: #ededed;

// Keys
$theme2KeyBackground: #377f86;
$theme2KeyShadow: #1b5f65;
$theme2KeyToggle: #ca5502;
$theme2KeyShadow2: #893901;
$theme2KeyBackground2: #e5e4e1;
$theme2KeyShadow3: #a69d91;

// Text
$theme2KeyText: #35352c;

/*************
* THEME 3    *
**************/

// Backgrounds
$theme3MainBackground: #160628;
$theme3ToggleKeypadBackground: #1d0934;
$theme3ScreenBackground: #1d0934;

// Keys
$theme3KeyBackground: #58077d;
$theme3KeyShadow: #bc15f4;
$theme3KeyToggle: #00e0d1;
$theme3KeyShadow2: #6cf9f2;
$theme3KeyBackground2: #341c4f;
$theme3KeyShadow3: #871c9c;

// Text
$theme3KeyText: #ffe53d;
$darkBlue: #1b2428;